@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');


/*  font-family: "Noto Sans KR", sans-serif;*/
/* font-family: "Roboto", sans-serif; */
/* CSS Reset */

html, body, div , span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin: 0; padding: 0; border: 0;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{display: block;}
html{font-size: 18px;}
body{font-family: "Noto Sans KR", sans-serif; color: #333;font-size: 18px;}
ol, ul{list-style: none;}
table{border-collapse: collapse; border-spacing: 0;}
address{font-style: normal}
a{color: #333; text-decoration: none;display: block;}
img{border: 0; vertical-align: top}

/* 구글아이콘 */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}


.hidden{display: block; position: absolute;
 left: -1000%; width: 1px; height: 1px;
  overflow: hidden; color: #fff}

  /*skipNan 영역  */

  #skipNav{position:relative;width:100%;overflow:hidden;z-index: 110; }

  #skipNav a{display:block; height:1px; margin-bottom:-1px;overflow:hidden; 
    text-align:center; color:#fff; font-size:1.2em; font-weight: 700;}

  #skipNav a:hover,#skipNav a:focus,#skipNav a:active{
    height:auto;padding:15px 0; background: rgba(239,0,16,1);}



/* top이동 */

.move_top{width: 70px; height: 70px; background: #2ab6ad; color: #fff; text-align: center;
font-size:  1em; border-radius: 50%;overflow: hidden; position: fixed; left: 50%; margin-left: 800px;
bottom: 100px; box-shadow: 1px 1px 15px 1px rgba(0,0,0,.3);
transition: all .5s ease-out;}  
.move_top span{display: block; margin-top: 22px;}
.move_top:hover {background: #f8f8f8f8; color: #333;}



#wrap{width: 100%; overflow: hidden;}  


 /* header 공통영역 */ 


#headerArea{width: 100%; height:110px; position: fixed; z-index: 100;
  left: 0; top: 0; transition: background .2s}

#headerArea .header_container{width: 1200px; margin: 0 auto; }
#headerArea .header_container::after{content: ''; display: block; clear: both;}
#headerArea .logo{width: 177px;float: left; margin-top: 57px;}
#headerArea .logo a{ background: url(../images/logo.png) no-repeat; height: 35px;
  text-indent: -999px;overflow: hidden; }

#headerArea .header_right{width: 1000px;float: right;}

#headerArea .top_menu{float: right; margin-top: 15px; margin-right: 40px;}
#headerArea .top_menu a{ font-size: 0.89em; font-weight: 500; color: #fff;}
#headerArea .top_menu ul{overflow: hidden;}
#headerArea .top_menu li{float: left;}
#headerArea .top_menu li:first-child{margin-right: 15px;}


#gnb{width: 1000px;clear: both;} 
#gnb ul.dropdownmenu{float:left; width: 100%;}
#gnb ul.dropdownmenu li.menu{position:relative;
  float:left;width:16.66%; height: 60px;}

#gnb ul.dropdownmenu li a.depth1{display:block;padding: 15px 0;  color: #fff;
        text-align: center; transition: all .5s; }


  /* 2depth */
#gnb ul.dropdownmenu li ul{width:100%; 
  position:absolute;top:60px;left:0; height: 150px;
    padding:15px 0; line-height:2em;display: none; }
    
#gnb ul.dropdownmenu li ul li{ text-align:center; font-weight:bold;}
#gnb ul.dropdownmenu li ul li a{display:block;  color:#fff; font-weight: 500;border-bottom: 2px solid #fff; transition: all .5s;}
#gnb ul.dropdownmenu li ul li a:hover{color:#333; border-bottom: 2px solid #2ab6ad;background: rgba(42,182,173,.22); border-radius: 5px; } 


/* footer 공통영역 */ 


#footerArea{width: 100%; background: #e8e8e8;position: relative;}

#footerArea .footer_container{width: 1200px; margin: 0 auto; padding: 40px 0; position: relative;}
#footerArea .footer_container::after{content: ''; display: block; clear: both;}
#footerArea .footer_container .logo{}
#footerArea .footer_container .footer_logo{}


#footerArea .footer_container #bottom_menu{overflow: hidden;color: #333;margin-bottom: 30px; } 
#footerArea .footer_container #bottom_menu .logo{float: left; width: 278px;}
#footerArea .footer_container #bottom_menu ul:nth-of-type(1){float: left; margin-left: 35px;}
#footerArea .footer_container #bottom_menu ul:nth-of-type(1){float: left; display: flex; gap: 40px;}
#footerArea .footer_container #bottom_menu ul:nth-of-type(2){float: right;}


#footerArea .footer_inner::after{content: ''; display: block; clear: both;}

#footerArea .select{position: absolute; top: 30px; left: 50%; margin-left: 400px; width:180px ;}
#footerArea .select .arrow{ font-weight: 600;
  background: #fff; padding: 15px 0; border-radius: 4px; box-sizing: border-box; 
  text-align: center; transition: all .5s;}

#footerArea .select .arrow i{font-size:.8em ; color: red;}
 


#footerArea .select .aList{position: absolute;
  top: -227px;
  left:0 ;box-sizing: border-box;
  background: #fff;
  width: 180px;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: none;
  text-align: center;
  padding: 10px;
}

#footerArea .select .aList li{ 
  line-height:1.5em; 
  border-bottom:1px solid #ccc; }
  #footerArea .select .aList li:last-child{border: 0;}
#footerArea .select .aList a {display: block;
  text-align: center;
  padding: 3px 0;
  transition: all .5s;
} 

#footerArea .select .aList li a:hover{
  color:#fff; 
  background: #2ab6ad;}


#footerArea address{font-size: 0.89rem; font-weight: 500; margin-bottom: 10px;}
#footerArea .address_box p{font-size: 0.78rem; font-weight: 500;  }



#footerArea .footer_container ul li a{font-size: 1em; font-weight: 500;color: #333;}




  