/* 와이드 pc  */

	
#imgBG{display: block;}
	
#content{ width:100%; margin:0; background:rgba(0,0,0,.7);position: relative; padding-bottom: 100px;  }
#content h2{position: absolute; top: -500px;
width: 100%; text-align: center; font-size: 4em; color: #fff;}
#content h3{width: 100%;color: #fff; font-size: 2rem; text-align: center;
    font-family: "Nanum Myeongjo";padding: 50px 0;margin-bottom: 20px;}

#content .gallery ul{
    width: 94%; margin: 0 2%;
    height: 100%;
    column-count: 5;
    column-gap: 10px;
    
}
#content .gallery ul li{width: 100%; margin: 0 0 10px;}

#content .gallery ul img{
    width: 100%; height: 100%;
    object-fit: cover; 
    object-position: center;
    border-radius: 10px;}




/* 일반 pc */
@media screen and (max-width:1280px) {
	
}


/* 테블릿 */
@media screen and (max-width:1024px) {

    #content .gallery ul{column-count: 4;}
    #content .gallery ul .gallimg7{display: none;}
    #content .gallery ul .gallimg15{display: none;}
    #content .gallery ul .gallimg11{display: none;}

}



/* 소형 테블릿 */
@media screen and (max-width:768px) {
    #content .gallery ul{column-count: 3;}
    #content .gallery ul .gallimg14{display: none;}
}


/* 모바일 */
@media screen and (max-width:640px) {
    #content h2{font-size: 3rem;}
    #content h3{font-size: 1.5rem;}
    #content .gallery ul{column-count: 1;}
    #content .gallery ul .gallimg4{display: none;}
    #content .gallery ul .gallimg5{display: none;}
    #content .gallery ul .gallimg13{display: none;}

}