/* 비주얼영역 */
.visual{position: relative;}
.visual img{width: 100%; vertical-align: top;}
.visual h3{color: #fff;position: absolute; left:0 ; top: 50%;
    font-size: 1.29rem; font-weight: 600; width: 100%;
    text-align: center;}
/* 네비 & 컨텐츠 top영역 */
.subNav{position: relative;}
.subNav .arrow {
    height: 25px;
    border-bottom: 1px solid #666;
    padding: 12px 15px;
    font-size: 16px;}
.subNav .arrow span {
        float: right;}
.subNav .aList {
    position: absolute;
    top: 50px;
    display: none;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 20;}
.subNav .aList li a {
    display: block;
    text-align: justify;
    padding: 15px 0;
    transition: all 1s;
    padding: 12px;
    background: #fff;
    color: #666;
    font-size: 16px;}    

#content .tittle_area h2{
    font-size: 1.57rem; 
    font-weight: 600; 
    margin-top: 30px; 
    text-align: center;
    position: relative;}
    
#content .tittle_area h2::after {
    content: "";
    display: block;
    background: #02A7CF;
    width: 3px;
    height: 30px;
    position: absolute;
    left: 50%;
    bottom: -180px;
    z-index: 10;}   

#content .tittle_area p{
    font-size: 1.14rem;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
}


.content_area .tab_menu ul{
    overflow: hidden;
    margin-bottom: 60px;
    margin-top: 50px;
    box-sizing: border-box;
}
.content_area .tab_menu li a{
    font-weight: 400;
    font-size: 1.1rem;
    color: #333;
    display: block;
    padding: 10px;
    text-align: center;
}

.content_area .tab_menu li{
    float: left;
    width: 50%;
    box-sizing: border-box; 
    border: 1px solid #cccc;
}

.content_area .tab_menu li:hover a, .content_area .tab_menu li .current{background: #2ab6ad; color: #fff;}



/* 컨텐츠영역 */

.partner_box{width: 100%;}
.partner_box h3{font-size: 1.2rem; text-align: center; margin-bottom: 20px;}
.partner_box .contlist{margin: 0 15px;}
.company_wrap{margin-top: 80px; margin-bottom: 100px;}
.company_wrap .company_div .title{text-align: center; font-size: 1.3rem;
     margin-bottom: 20px;font-weight: 500;}

.company_wrap .company_div img{width: 100%;}
.company_wrap .company_info{margin-top: 14px;margin: 20px auto 0;}

.company_wrap .company_info .name span{font-size: 1.1rem; font-weight: 600;}
.company_wrap .company_info .f_1{font-size: 1rem; font-weight: 500;margin-top: 15px; text-align: justify; }
.company_wrap .company_info .right{margin-top: 50px;}


.company_wrap caption{visibility: hidden; overflow: hidden;}
.company_wrap table{width: 100%; border-top: 3px solid #666;}
.company_wrap .form_table tbody tr{border-bottom: 1px solid #999;}
.company_wrap .form_table tbody th{padding:20px 10px;width: 30%; text-align: left;}
.company_wrap .form_table tbody td{padding:20px 10px; width: 70%;}
.company_wrap .form_table tbody .f_body1{font-size: 1.1rem;}
.company_wrap .form_table tbody .f_body2{font-size: 1.1rem;}


/* 오시는길 */
.location #map{ height: 350px; border: 1px solid #ccc; margin: 0 auto 30px;}
.location h3{text-align: center;font-size: 1.3rem;margin-bottom: 20px;font-weight: 500;}
.location table{width:100%; margin-bottom: 150px;}
.location table th, .location table td{border-bottom: 1px solid #ccc;padding: 20px 10px}
.location table th{width: 15%;padding: 20px 0}
.location table td{width: 85%;}
.location ul{line-height: 2em;}
.location dl{line-height: 2.5em; }
.location dt{margin-right: 30px;margin-bottom: 10px;  background: blue; 
    padding:0 40px; font-size: 1.1rem; text-align: center; width: 60%;
     color: #fff; border-radius: 10px;}
.location dt:nth-of-type(2){background: red;}
.location dt:nth-of-type(3){background: green;}
.location dd{margin-bottom:10px ;}
